body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header, #contact {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

p {
    color: #666;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.contact-item img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.contact-item a {
    text-decoration: none;
    color: #007BFF;
}

.social-media img {
    width: 40px;
    height: 40px;
    margin-left: 20px;
}

.social-media a {
    text-decoration: none;
    display: inline-block;
    margin-left: 20px;
}
